<!DOCTYPE html>
<html ng-app="MyApp">

  <head>
    <title></title>
    <!-- <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css"/> -->
    <link rel="stylesheet" href="style.css">
  </head>

 <body ng-controller="MyController">
  <div id="container">
    <div id="header">
      <img src="logo.png">
    </div>
    <!-- <hr/> -->
  <div id="menu">
    <div class="dropdown">
        <button class="button">1950's</button>
        <ul data-decade='0'>
          <li><a ng-click="" data-year='0'>1950 Hits</a></li>
          <li><a ng-click="" data-year='1'>1951 Hits</a></li>
          <li><a ng-click="" data-year='2'>1952 Hits</a></li>
          <li><a ng-click="" data-year='3'>1953 Hits</a></li>
          <li><a ng-click="" data-year='4'>1954 Hits</a></li>
          <li><a ng-click="" data-year='5'>1955 Hits</a></li>
          <li><a ng-click="" data-year='6'>1956 Hits</a></li>
          <li><a ng-click="" data-year='7'>1957 Hits</a></li>
          <li><a ng-click="" data-year='8'>1958 Hits</a></li>
          <li><a ng-click="" data-year='9'>1959 Hits</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="button">1960's</button>
        <ul data-decade='1'>
          <li><a ng-click="" data-year='0'>1960 Hits</a></li>
          <li><a ng-click="" data-year='1'>1961 Hits</a></li>
          <li><a ng-click="" data-year='2'>1962 Hits</a></li>
          <li><a ng-click="" data-year='3'>1963 Hits</a></li>
          <li><a ng-click="" data-year='4'>1964 Hits</a></li>
          <li><a ng-click="" data-year='5'>1965 Hits</a></li>
          <li><a ng-click="" data-year='6'>1966 Hits</a></li>
          <li><a ng-click="" data-year='7'>1967 Hits</a></li>
          <li><a ng-click="" data-year='8'>1968 Hits</a></li>
          <li><a ng-click="" data-year='9'>1969 Hits</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="button">1970's</button>
        <ul data-decade='2'>
          <li><a ng-click="" data-year='0'>1970 Hits</a></li>
          <li><a ng-click="" data-year='1'>1971 Hits</a></li>
          <li><a ng-click="" data-year='2'>1972 Hits</a></li>
          <li><a ng-click="" data-year='3'>1973 Hits</a></li>
          <li><a ng-click="" data-year='4'>1974 Hits</a></li>
          <li><a ng-click="" data-year='5'>1975 Hits</a></li>
          <li><a ng-click="" data-year='6'>1976 Hits</a></li>
          <li><a ng-click="" data-year='7'>1977 Hits</a></li>
          <li><a ng-click="" data-year='8'>1978 Hits</a></li>
          <li><a ng-click="" data-year='9'>1979 Hits</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="button">1980's</button>
        <ul data-decade='3'>
          <li><a ng-click="" data-year='0'>1980 Hits</a></li>
          <li><a ng-click="" data-year='1'>1981 Hits</a></li>
          <li><a ng-click="" data-year='2'>1982 Hits</a></li>
          <li><a ng-click="" data-year='3'>1983 Hits</a></li>
          <li><a ng-click="" data-year='4'>1984 Hits</a></li>
          <li><a ng-click="" data-year='5'>1985 Hits</a></li>
          <li><a ng-click="" data-year='6'>1986 Hits</a></li>
          <li><a ng-click="" data-year='7'>1987 Hits</a></li>
          <li><a ng-click="" data-year='8'>1988 Hits</a></li>
          <li><a ng-click="" data-year='9'>1989 Hits</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="button">1990's</button>
        <ul data-decade='4'>
          <li><a ng-click="" data-year='0'>1990 Hits</a></li>
          <li><a ng-click="" data-year='1'>1991 Hits</a></li>
          <li><a ng-click="" data-year='2'>1992 Hits</a></li>
          <li><a ng-click="" data-year='3'>1993 Hits</a></li>
          <li><a ng-click="" data-year='4'>1994 Hits</a></li>
          <li><a ng-click="" data-year='5'>1995 Hits</a></li>
          <li><a ng-click="" data-year='6'>1996 Hits</a></li>
          <li><a ng-click="" data-year='7'>1997 Hits</a></li>
          <li><a ng-click="" data-year='8'>1998 Hits</a></li>
          <li><a ng-click="" data-year='9'>1999 Hits</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="button">2000's</button>
        <ul data-decade='5'>
          <li><a ng-click="" data-year='0'>2000 Hits</a></li>
          <li><a ng-click="" data-year='1'>2001 Hits</a></li>
          <li><a ng-click="" data-year='2'>2002 Hits</a></li>
          <li><a ng-click="" data-year='3'>2003 Hits</a></li>
          <li><a ng-click="" data-year='4'>2004 Hits</a></li>
          <li><a ng-click="" data-year='5'>2005 Hits</a></li>
          <li><a ng-click="" data-year='6'>2006 Hits</a></li>
          <li><a ng-click="" data-year='7'>2007 Hits</a></li>
          <li><a ng-click="" data-year='8'>2008 Hits</a></li>
          <li><a ng-click="" data-year='9'>2009 Hits</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="button">2010's</button>
        <ul data-decade='6'>
          <li><a ng-click="" data-year='0'>2010 Hits</a></li>
          <li><a ng-click="" data-year='1'>2011 Hits</a></li>
          <li><a ng-click="" data-year='2'>2012 Hits</a></li>
          <li><a ng-click="" data-year='3'>2013 Hits</a></li>
          <li><a ng-click="" data-year='4'>2014 Hits</a></li>
          <li><a ng-click="" data-year='5'>2015 Hits</a></li>
        </ul>
      </div>
</div> <!-- end of menu -->
      <audio id="player" src="" preload="auto" controls autoplay></audio>
      <div class="showSongs">
          <div ng-repeat="songs in songs.list">
            <span style='cursor:pointer' ng-click='sendUrl()'>[{{$index + 1}}] {{songs.artist}}  -  {{songs.songTitle}}</span>
          </div>
      </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="script.js"></script>
   </div> <!-- end of container -->
  </body>
</html>